* {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:13px;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border:0;
}
body {
	background:#f3f3eb;
}
#wrap {
	width:1002px;
	margin:0 auto;
	background:url(images/wrap_bg.gif) repeat-y 0 0;
}
#column {
	float:left;
	width:46px;
	height:625px;
	padding-top:105px;
	background:url(images/column_bg.gif) no-repeat right top;
	overflow:hidden;
}
#column ul {
	float:right;
	width:13px;
	margin:0 13px 20px 0;
}
#column ul {
	display:inline;
}
#column ul li {
	float:left;
	width:13px;
	padding-bottom:10px;
	line-height:14px;
}
#column ul li a {
	color:#ffc;
}
#column ul li a:hover {
	color:#ff6;
	text-decoration:none;
}

#main {
	float:left;
	width:715px;
	border-width:9px 3px 6px 0; 
	border-style:solid;
	border-color:#900;
	background:#f3f3eb url(images/main_bg.gif) repeat-y right 86px;
}
#main #banner {
	float:left;
	width:715px;
	height:75px;
	border-top:1px solid #fff;
	border-bottom:1px solid #000;
	overflow:hidden;
}
#main #nav {
	float:left;
	width:675px;
	height:35px;
	margin-bottom:10px;
	padding-left:25px;
	background:url(images/nav_line.png) no-repeat 0 28px;
	overflow:hidden;
}
#main #nav li {
	float:left;
	padding:0 8px;
	line-height:28px;
}
#main #nav li a {
	color:#c00;
	font-weight:800;
}
#main #footer{
	float:left;
	width:700px;
	padding-top:7px;
	border-bottom:3px solid #999;
	margin-bottom:1px;
	background:url(images/nav_line.png) no-repeat 0 -7px;
	overflow:hidden;

}

#main #footer ul {
	float:left;
	width:680px;
	padding-left:20px;
	background: url(images/footer_ul_bg.gif) repeat 0 0;
	overflow:hidden;
}
#main #footer ul#footer_nav {
	height:28px;
}
#main #footer ul#footer_links {
	height:55px;
}
#main #footer ul li {
	float:left;
	width:70px;
	margin-right:4px;
	line-height:28px;
	text-align:center;
}
#main #footer ul li {
	display:inline;
}
#main #footer ul li a {
	color:#666;
}
#main #footer ul li a:hover {
	color:#333;
}
#main #footer ul#footer_nav li a {
	color:#333;
}
#main #footer ul#footer_nav li a:hover {
	color:#c00;
}
#sider { 
	float:right; 
	width:236px;
}
#sider #sider_tags { 
	float:left; 
	width:214px; 
	height:20px; 
	padding-left:22px; 
	background:#900; 
	overflow:hidden;
}
#sider #sider_tags li { 
	float:left; 
	width:30px; 
	margin-right:10px; 
	line-height:20px; 
	text-align:center;
}
#sider #sider_tags li { 
	display:inline;
}
#sider #sider_tags li a { 
	color:#ffc;
}
#sider #sider_tags li a:hover { 
	color:#ff9;
}
#sider h4 { 
	float:left;
}
#sider h4 a { 
	display:block; 
	width:236px; 
	height:168px; 
	text-indent:240px; 
	white-space:nowrap; 
	overflow:hidden; 
	background:url(images/sider_logo.png) no-repeat 0 0;
}
#sider #sider_pics { 
	float:left; 
	width:236px; 
	height:538px; 
	margin-top:12px; 
	background:url(images/sider_wutingqiao.png) no-repeat 1px bottom;
}
#sider #sider_pics li { 
	float:left; 
	margin:0 0 20px 39px;
}
#sider #sider_pics li { 
	display:inline;
}
#sider #sider_pics li a { 
	display:block; 
	width:158px; 
	height:122px; 
	overflow:hidden;
}
.clear {
	clear:both;
}